* {
    margin: 0;
    padding: 0;
    list-style: none;
}


.header{
    display: flex;
    padding: 6px 10px;
    background-color: #282923;
    width: 100%;
    position: fixed;
}
.header img{
    height: 50px;
}

.header nav{
    text-align: right;
    font-size: 0;
    
}

.header .logo{
    display: inline-block;
    padding: 6px 0;

}

nav a{
    font-size: 16px;
    color: #fff;
    line-height: 65px;
    text-decoration: none;
    padding: 0 10px;
    transition: all 1s 0s ease;
    border-bottom: 1px solid wheat;
}



.header nav a:hover{
    background-color: orange;
    
}

.banner img{
    width: 100%;
}


/* 漢堡選單 */
#menu_control {
    position: absolute;
    z-index: -2;
    opacity: 0;
}

#menu_control:checked~.header nav {
    left: 0;
}

.menu_btn {
    width: 40px;
    height: 40px;
    background: #000;  
    position: absolute;
    right: 20px;
    top: 20px;
    border:3px solid white;
}

/* 調整按鈕內的線條 */
.menu_btn::before {
    content: '';
    position: absolute;
    width: 36px;
    height: 2px;
    left: 2px;
    background-color: #aaa;

    /* 垂直置中 */
    top: 0;
    bottom: 0;
    margin: auto;
    box-shadow: 0px 8px 0px #aaa,
        0px -8px 0px #aaa;
}

.path{
    display: flex;
    list-style-type: none;

}

.path li{
    
    padding: 6px 8px;
}

.path li a{
    color: #aaa;
    text-decoration: none;
    font-size: 14px;
}

.path li +li::before{
    content: '/';
    color: black;
    left: 0;
    margin: 0 20px 0 0;
}

.about{
    margin-top: 60px;
    /* left: 50%; */

}

.about h3{
    font-weight:bold;
}

.about .intro {
    margin-top: 20px;
    margin: 5%;

}

.about .image img{
    width: 100%;
    height: auto;
    border-radius: 10%;
    
}


.about .wrap h2{
    text-align: center;
    width: 100%;
    font-size: 60px;
    padding: 10px 0;
    color: rgba(0, 153, 255, 0.959);
}

.about .item p{

    transition: all 1s 0s ease;
    font-size: 18px;
    margin: 20px;
}

.about .item h3{

    transition: all 1s 0s ease;
}

.about .item:hover p{
    color: orange;
    
}

.about .item:hover h3{
    color: orange;
}



.history{
    padding: 2%;
    margin-bottom: 5%;
}

.history h3{
    margin-bottom: 4%;
    font-weight:bold;
}

.history img{
    width: 80%;
    height: auto;
    border-radius: 10%;

}


.item h3{
    font-size: 36px;
    padding: 0 0 30px;
}

.history .txt{
    text-align: center;
    flex-direction: column;
    display: flex;
    font-size: 20px;
    padding: 0 10px;
    
}

.history2{
    width: 95%;
    height: auto;
    left: 0;
    padding: 2%;
}

.history2 h3{
    margin-bottom: 4%;
    font-weight:bold;
}

.history2 img{
    width: 50%;
    height: auto;
    border-radius: 10%;
    margin-left: 30%;
    margin-bottom: 20px;
}

.history2 .item p{
    margin-top: 5%;
}

.item h3{
    font-size: 36px;
    padding: 0 0 30px;
}

.history2 .txt{
    padding: 0px 20px;
    text-align: center;
    flex-direction: column;
    display: flex;
    font-size: 20px;
    padding: 0 10px;
    
}

.hobby{
    margin: 60px 0 0 0;
    padding: 60px 0;
    background-color: #888;
}

.hobby h2{
    width: 100%;
    margin-bottom: 3%;
    text-align: center;
    font-size: 40px;
    padding: 20px 0;
    font-weight:bold;
}

.hobby img{
    width: 80%;
    height: auto;
}

.hobby .hobbyp{
    font-weight:600;
    font-size: 30px;
}


.hobby p{
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: 20px;
    padding: 20px 0;
}

.hobby .item h3{
    margin: 20px 0 0 0;
    font-size: 20px;
}

.footer{
    text-align: center;
    background-color: #000;
    color: #888;
    padding: 20px 0;
}


/* RWD 手機端*/
@media screen and (max-width: 767px){
    nav {
        width: 80%;
        /* vh為視窗高(viewport height) */
        height: calc(100vh-50px);
        display: block;
        background-color: black;
        position: absolute;
        top: 85px;
        left: -100%;
        transition: .5s;

    }

    nav a{
        display: block;
        text-align: center;
    }
    .logo img{
        margin: 5px 0;
    }

    .about h3{
        text-align: center;
    }

    
    /* 圖片和文字交換位置 */
    .about .intro{
        display: flex;
        flex-direction: column;
    }

    
    .about img{
        order: 1;
        margin-bottom: 20px;
    }
    .about .txt{
        order: 2;
    }

    .history .intro{
        display: flex;
        flex-direction: column;
    }

    
    .history img{
        order: 1;
        margin-bottom: 20px;
        width: 100%;
    }
    .history .txt{
        order: 2;
    }

    .hobby .image{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* RWD 網頁端*/
@media screen and (min-width: 768px) {
    .menu_btn {
        display: none;
    }

    .header {
        display: flex;
        /* header內屬性左右分散 */
        justify-content: space-between;
        background-color: #282923;
        /* tag內物件置中 */
        align-items: center;

    }

    nav {
        background-color: transparent;
        /* 背景透明 */
        display: flex;
        left: 0;
        position: relative;
        width: auto;
        height: auto;
        top: 0;
    }

    nav a {
        border-bottom: none;
        display: inline-block;
    }
    .about .wrap{
        display: flex;
        width: 80%;
        margin: auto;
        
    }

    .about .item{
        text-align: center;
        width: 50%;
        
    }
    
    .about .item p{
        font-size: 18px;
        margin: 20px;
    }
    
    .history .wrap{
        display: flex;
    }
    
    .history .item{
        width: 50%;
    }

    .history2 .wrap{
        display: flex;
    }
    
    .history2 .item{
        width: 50%;
    }

    .hobby .wrap{
        display: flex;
    }

    .hobby .item{
        margin: 0 10px;
        width: 33%;
        text-align: center;
        
    }
}
